<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/yo.png" 
        class="img-fluid"
        id="foto-de-perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Joaquin Lorenzo Manresa</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quisquam temporibus delectus amet unde aperiam perspiciatis quo sit, ducimus quae excepturi corrupti rerum sequi animi neque deserunt similique iure fuga!</p>
        </span>
    </div>
</div>